
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // outline: magenta 1px solid;
}

body {
    background-image: var(--gradientCold);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

html {
    --fontBody: "Montserrat", sans-serif;
    --fontTitle: "Montserrat", sans-serif;

    --colorDarkest: #121212;
    --colorDark: #202020;
    --colorMid: #323232;
    --colorMidlight: #636363;
    --colorOpacity: #121212cc;

    --colorPlayer: #636363;
    --colorPlayerBG: #121212;

    --colorBlack: #000;
    --colorWhite: #fff;

    font-size: 24px;

}

button, input, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

// font styling
h1, h3, p, label, input, button {
    color: var(--colorWhite);
    text-align: center;
    text-transform: none;
    font-family: var(--fontBody);
    font-weight: 400;
}

header {
    // outline: magenta solid 1px;
    height: calc( (1.5 /12) *100% );
    background: var(--colorDark);
    grid-template-columns: 1fr 3fr 0.3fr 0.7fr;

    * {
        // outline: magenta solid 1px;
    }

    #header_title {
        h1, h3 {
            font-family: var(--fontTitle);
            font-weight: 800;
            font-size: 1.75rem;
        }
        h3 {
            font-family: var(--fontTitle);
            font-weight: 400;
            font-size: 0.75rem;
        }
    }


}

section {
    height: calc( (8 /12) *100% );
    grid-template-columns: 1fr 3fr 1fr;
    background: #000;

    * {
        // outline: cyan solid 1px;
    }

    #song_data {
        list-style-type: none;
        padding: 2vh 0;
        width: 80%;
        color: var(--colorWarmLight);
        font-family: var(--fontBody);
        border-radius: 5vw;
        margin: 0 auto;

    }

    main {
        background: #000;
        height: 100%;
    }

    aside {
        height: 100%;
        background: var(--colorDarkest);
        
        .player_header {
            padding: 2.5% 0;
        }

        h3 {
            color: var(--colorPlayer);
            padding: 2.5% 0;
            font-weight: 800;
        }
    
        // list that contains the previous tracks
        // ul -> li -> 2*p 
        .prev_list {
            display: block;
            height: 55vh;
            list-style-type: none;
            overflow-y: scroll;
            // margin-right: -0.5rem;

            a {
                text-decoration: none;
            }

            li {
                margin: 0 auto;
                padding: 0.5rem 0;
                font-size: 0.75rem;
                border-bottom: 0.125rem var(--colorDark) solid;
                font-family: var(--fontBody);
                text-align: center;
                color: var(--colorMidlight);
                transition: text-shadow 200ms;
            }
            li:first-of-type {
                border-top: 0.125rem var(--colorDark) solid;
            }
            li:hover {
                text-shadow: 0 0 0.5rem currentColor;
            }
        }
        .prev_list::-webkit-scrollbar {
            display: none;
        }
    }
}

footer {
    height: calc( (2.5 /12) *100% );
    gap: 0 2.5%;
    background: var(--colorDark);
    box-shadow: 0 -0.25rem 1rem color;    

    button {
        padding: 1rem 2rem;
    }
}

#loading_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--colorDark);
}

.button {
    border-radius: 100vw;
    padding: 0.5rem 1rem;
    background-color: transparent;
    outline: var(--colorWhite) 0.1rem solid;
    color: var(--colorWhite);
    transition: transform 200ms, color 200ms, background-color 200ms;
}
.button:active {
    transform: scale(0.8);
}
.button:hover {
    color: var(--colorDarkest);
    background-color: var(--colorWhite);
}

// player
#player {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    
    iframe {
        height: 100%;
        width: 100%;
    }
}

#player::before {
    width: 100%;
    height: 100%;
    background: var(--colorDarkest);
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
}


// Generic classes
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
}


.circle_button {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    font-weight: 800;
    background-color: transparent;
    outline: var(--colorWhite) 0.1rem solid;
    color: var(--colorWhite);
    transition: transform 200ms, color 200ms, background-color 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        fill: var(--colorWhite);
        filter: brightness(100);
        width: 75%;
    }
}

.circle_button:active {
    transform: scale(0.6);
}
.circle_button:hover {
    color: var(--colorDarkest);
    background-color: var(--colorWhite);
    img {
        fill: var(--colorWhite);
        filter: brightness(0);
        width: 75%;
    }
}

header {
    .circle_button {
        transition: transform 800ms;
    }
    #btn_showSettings:hover {
        transform: rotateZ(360deg);
    } 
    .circle_button:active {
        transition: transform 200ms;
        transform: scale(0.6);
    }
}

.error {
    color: #cb6262;
}
.warning {
    color: #ddaf5b;
}
.correct {
    color: #75cf81;
}
.default {
    color: var(--colorMidlight);
}

.title {
    font-family: var(--fontTitle);
    font-size: 2rem;
}

.bold {
    font-weight: 600;
}
.larger_text {
    font-size: 1.5rem;
}


// Modal
.modal_wrapper {
    background: var(--colorOpacity);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    display: none;

    
    h1 {
        padding: 1rem 0;
        font-weight: 800;
    }
    a {
        color: #7ae4ff;
    }
}

hr {
    margin: 0.5rem 0;
    border-color: var(--colorMidlight);
    background-color: var(--colorMidlight);
}


.modal {
    width: 80%;
    height: 80%;
    box-shadow: -0.5rem 0.5rem 1rem #121212;
    background: var(--colorMid);
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border-radius: 2rem;

    p {
        text-align: left;
    }

    display: flex;
    justify-content: center;
    align-items: baseline;

    div {

        
        div {
            width: 90%;
            margin: 0 auto
        }
    }

    

    .close_modal {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
    }

    .close_modal:active {
        transform: scale(0.8);
    }
}

// timer
.timer {
    width: 3rem;
    outline: 0.1rem var(--colorPlayer) solid;
    text-align: center;
    border-radius: 5rem;
    color: var(--colorPlayer);
}

// player specific colors 
// .p1 {
//     --colorPlayer: #3fff79;
// }
// .p2 {
//     --colorPlayer: #ff374e;
// }

.p1, .p2 {
    // h3, .timer {
    //     animation: pulseText 800ms forwards infinite alternate-reverse ease-in-out;
    // }
    .timer {
        animation: pulse 0.5s forwards infinite alternate-reverse;
    }
}

#settings_modal {
    display: block;
    height: 80vh;
    min-height: fit-content;

    h3 {
        margin-bottom: 0.5rem;
        font-weight: 600;
    }

    #settings_playerSettings {
        width: 100%;
        display: flex;
        input {
            margin: 0.5rem auto;
            min-width: fit-content;
            width: 40%;
        }
        input[type=radio] {
            cursor: pointer;
            outline: none;
            width: 1rem;
            height: 1rem;
            margin: 0 auto;
        }
    }
    #settings_gametime {
        display: flex;
        width: 40%;
        margin: 0 auto;
        div {
            width: 100%;
        }
    }
    aside {
        width: 50%;
    }
    label {
        font-size: 1rem;
        display: block;
    }
    input {
        display: block;
        margin: 0 auto 0.5rem;
        font-size: 1rem;
        outline: 0.1rem var(--colorWhite) solid;
        padding-left: 1rem;
        cursor: text;
        color: var(--colorWhite);
        border-radius: 100vw;
        text-align: left;
        transition: background-color 200ms;
    }
    input[type="color"] {
        padding: 0 0.25rem;
        cursor: pointer;
    }
    input:focus {
        background-color: var(--colorDark);
    }
    p {
        padding: 0 1rem;
    }
    footer {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background: none;
        height: fit-content;
    }
    #settings_start {
        padding: 1rem 2rem;
        outline: var(--colorWhite) 0.1rem solid;
        border-radius: 100vw;
        height: fit-content;
        margin-top: 1rem;
    }
    

}

@keyframes pulse {
    from {
        box-shadow: 0 0 0rem var(--colorPlayer);
    }
    to {
        box-shadow: 0 0 0.75rem var(--colorPlayer);
    }
}

/*Scroll bar nav*/
::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--colorDark); 
    
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.5rem;
    border-radius: 1rem;
    background: var(--colorDarkest); 
}