* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: magenta 1px solid;
}

body {
  background-image: var(--gradientCold);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

html {
  --fontBody: "Montserrat", sans-serif;
  --fontTitle: "Montserrat", sans-serif;
  --colorDarkest: #121212;
  --colorDark: #202020;
  --colorMid: #323232;
  --colorAccent: #ff0000;
  --colorBlack: #000;
  --colorWhite: #fff;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1, h3, p, button {
  color: var(--colorWhite);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--fontBody);
  font-weight: 400;
}

header {
  height: calc( (1.5 /12) *100%);
  background: var(--colorDark);
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
}

header #header_title h1, header #header_title h3 {
  font-family: var(--fontTitle);
  font-weight: 800;
  font-size: 1.75rem;
}

header #header_title h3 {
  font-family: var(--fontTitle);
  font-weight: 400;
  font-size: 0.75rem;
}

section {
  height: calc( (8 /12) *100%);
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  background: #000;
}

section #song_data {
  list-style-type: none;
  padding: 2vh 0;
  width: 80%;
  color: var(--colorWarmLight);
  font-family: var(--fontBody);
  border-radius: 5vw;
  margin: 0 auto;
}

section aside {
  height: 100%;
  background: var(--colorDarkest);
}

section aside h3 {
  padding: 2.5% 0;
  font-weight: 800;
  height: 10%;
}

section aside #prev_list {
  display: block;
  height: 60vh;
  list-style-type: none;
  overflow-y: scroll;
}

section aside #prev_list li {
  margin: 0 auto;
  padding: 0.5rem 0;
  font-size: 0.75rem;
  border-bottom: 0.125rem var(--colorDark) solid;
}

section aside #prev_list li:first-of-type {
  border-top: 0.125rem var(--colorDark) solid;
}

footer {
  height: calc( (2.5 /12) *100%);
  gap: 0 2.5%;
  background: var(--colorDark);
  -webkit-box-shadow: 0 -0.25rem 1rem color;
          box-shadow: 0 -0.25rem 1rem color;
}

footer button {
  padding: 1rem 2rem;
}

#player {
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#player iframe {
  height: 100%;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  background-color: var(--colorDarkest);
  border-radius: 5vw;
  cursor: pointer;
}

.error {
  color: #ff6565;
}

.warning {
  color: #ffc965;
}

.correct {
  color: #65ff7a;
}

.bold {
  font-weight: 800;
}

.larger_text {
  font-size: 1.5rem;
}

::-moz-selection {
  background-color: var(--colorLight);
  color: var(--colorDark);
}

::selection {
  background-color: var(--colorLight);
  color: var(--colorDark);
}

/*Scroll bar nav*/
::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--colorDark);
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--colorDarkest);
}
/*# sourceMappingURL=style.css.map */