
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--gradientCold);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

html {
    --fontBody: "Montserrat", sans-serif;
    --fontTitle: "Montserrat", sans-serif;

    --colorDark: #0F2027;
    --colorMid: #203A43;
    --colorMidLight: #2C5364;
    --colorLight: #89d3d8;

    --colorBlack: #080113;
    --colorWhite: #faffff;

    --colorWarmLight: #ffb703;
    --colorWarmMid: #fb8500;

    --colorGlow: #89d3d866;
    --shadowGlow: 0 0 0.5rem #89d3d866;


    --gradient: linear-gradient( var(--colorDark), var(--colorMid), var(--colorMidLight) );

}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

// font styling
h1, h3, p, button {
    color: var(--colorWhite);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fontBody);
    font-weight: 400;
}

header {
    // outline: magenta solid 1px;
    height: calc( (1.5 /12) *100% );
    background: var(--colorDark);

    grid-template-columns: 1fr 3fr 1fr;
    * {
        // outline: magenta solid 1px;
    }

    #header_title {
        h1, h3 {
            font-family: var(--fontTitle);
            font-weight: 800;
            font-size: 1.75rem;
        }
        h3 {
            font-family: var(--fontTitle);
            font-weight: 400;
            font-size: 0.75rem;
        }
    }


}

section {
    height: calc( (8 /12) *100% );
    grid-template-columns: 1fr 3fr 1fr;
    background: #000;

    *{
        // outline: cyan solid 1px;
    }

    // ul {
    //     display: flex;
    //     gap: 5vw;

    // }

    .song_data {
        list-style-type: none;
        padding: 2vh 0;
        width: 80%;
        color: var(--colorWarmLight);
        font-family: var(--fontBody);
        border-radius: 5vw;
        margin: 0 auto;

        li:nth-child(odd) {
            font-weight: 800;
        }

    }

    aside {
        height: 100%;
        background: var(--gradient);
        
        h3 {
            padding: 2.5% 0;
            font-weight: 800;
            height: 10%;
        }
    
        // list that contains the previous tracks
        // ul -> li -> 2*p 
        #prev_list {
            display: block;
            height: 60vh;
            list-style-type: none;
            overflow-y: scroll;
            
            p {
                margin: 0 auto;
                padding: 0.5rem 0;
                font-size: 0.75rem;
                border-bottom: 0.125rem var(--colorLight) solid;
            }
            p:first-of-type {
                border-top: 0.125rem var(--colorDark) solid;
            }
        }
    }
}

footer {
    height: calc( (2.5 /12) *100% );
    gap: 0 2.5%;
    background: var(--colorMidLight);
    box-shadow: 0 -0.25rem 1rem color;    

    button {
        padding: 1rem 2rem;
    }
}



// player
#player {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    
    iframe {
        height: 100%;
        width: 100%;
    }
}
// menus
#hamburger {
    width: 60%;
    height: 80%;
    background: #666;
    position: relative;
    z-index: 6;
    border-radius: 5vw;
}

#hamburger_wrapper{
    display: none;
    width: 100%;
    height: 100%;
    background: #222;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}





// Generic classes
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--colorMidLight);
    box-shadow: var(--shadowGlow);    
    border-radius: 5vw;
    cursor: pointer;
}

.error {
    color: #ff6565;
}
.warning {
    color: #ffc965;
}
.correct {
    color: #65ff7a;
}

.bold {
    font-weight: 800;
}
.larger_text {
    font-size: 1.5rem;
}

// misc
::selection {
    background-color: var(--colorLight);
    color: var(--colorDark)
}

/*Scroll bar nav*/
::-webkit-scrollbar {
    width: 0.5rem;

}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.5rem;
    border-radius: 1rem;
    background: #ffffff99; 
    box-shadow: 0 0 0.75rem var(--colorMidLight);
}