* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
  background-image: linear-gradient(#222, #333);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

html {
  --fontBody: "Montserrat", sans-serif;
  --fontTitle: "Montserrat", sans-serif;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1, h3, p, button {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--fontBody);
  font-weight: 400;
}

header {
  height: calc( (1 /12) *100%);
  background: #333;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
}

header h1 {
  font-family: var(--fontTitle);
  font-weight: 800;
  font-size: 2rem;
}

section {
  height: calc( (8 /12) *100%);
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  background: #000;
}

section #player_container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #player_container iframe {
  height: 100%;
  width: 100%;
}

section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5vw;
}

section .song_data {
  list-style-type: none;
  padding: 2vh 0;
  width: 80%;
  color: #fff;
  font-family: var(--fontBody);
  background: #333;
  border-radius: 5vw;
  margin: 0 auto;
}

section .song_data li:nth-child(odd) {
  font-weight: 800;
}

section aside {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
  background: linear-gradient(#222, #333);
}

section aside h3 {
  min-height: 10%;
  padding: 2.5% 0;
}

section aside #game_list {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 90%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

section aside #game_list button {
  padding: 1rem 2rem;
  margin-top: 0.5rem;
}

footer {
  height: calc( (3 /12) *100%);
  gap: 0 2.5%;
}

footer button {
  padding: 1rem 2rem;
}

footer #answer_area {
  background: #666;
  text-align: left;
  padding: 0.25rem;
}

#hamburger {
  width: 60%;
  height: 80%;
  background: #666;
  position: relative;
  z-index: 6;
  border-radius: 5vw;
}

#hamburger_wrapper {
  display: none;
  width: 100%;
  height: 100%;
  background: #222;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  background-color: #666;
  border-radius: 5vw;
  cursor: pointer;
}

::-moz-selection {
  background-color: #666;
}

::selection {
  background-color: #666;
}

/*Scroll bar nav*/
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(204, 204, 204, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(204, 204, 204, 0.4);
}
/*# sourceMappingURL=style.css.map */